# 파이썬의 기본 문법
- 변수 선언, 식별자, 자료형, 형변환, 연산자 학습

### 1. 주석(comment)과 출력(print) 
- 주석 : 앞에 #을 붙이면 코드로 실행이 안 됨
- 코드에 대한 설명이나, 중간에 코드를 실행시키고 싶지 않을 때 사용
- 단축키 : ctrl(mac일 경우 cmd) + /
- 블록 지정 : shift + 방향키

In [1]:
# 주석 : 앞에 #을 붙이면 코드로 실행이 안 됨
# 코드에 대한 설명이나, 중간에 코드를 실행시키고 싶지 않을 때 사용
# 단축키 : ctrl(mac일 경우 cmd) + /
# 블록 지정 : shift + 방향키

In [2]:
# 출력 : print 함수
# 코드 중간에 변수에 들어있는 값을 확인하고 싶을 때 사용
# print 함수의 옵션
# docstring : 함수에 대한 설명 : 함수 이름 뒤에서 단축키 (shift + tab)
# 자동완성(tab) : 일부만 입력하고 tab 누르면 리스트가 뜸

In [3]:
print(1, 2, sep = "-", end = "\t")
print(3)

1-2	3

### 2. 변수 선언
- RAM 저장공간에 값을 할당하는 행위

In [4]:
a = 1
b = 2
c = a + b
c

3

In [5]:
d, e = 3, 4    # 한 번에 여러 개 선언 가능
f = g = 5

### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자라고 함
- 식별자 규칙
    - 소문자, 대문자, 숫자, 언더스코어(_)를 사용
    - 가장 앞에 숫자 사용 불가
    - 예약어 사용 불가 : def, class, try, except ...
    - 컨벤션
        - snake case : fast_campus : 변수, 함수
        - camel case : FastCampus, fastCampus : 클래스

### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적 타이핑
    - 변수 선언 시 저장되는 값에 따라서 자동으로 데이터 타입이 설정
- 기본 데이터 타입 : int, float, bool, str
- 컬렉션 데이터 타입 : list(순서o), tuple(순서o 수정x), dict(순서x, key와 value로 이루어짐)

In [6]:
a = 1
b = "python"
type(a), type(b)

(int, str)

- 자료형(데이터 타입)을 사용하는 이유
- 예를 들어 int형인 데이터는 저장했을 때 32바이트를 쓰고 string형인 데이터는 저장했을 때 128바이트를 쓴다면, <br>
데이터의 종류에 따라 분류해서 저장하는 것이 RAM의 저장공간을 효율적으로 쓸 수 있기 때문!

### 기본 데이터 타입 : int, float, bool, str

In [7]:
a = 1
b = 1.2
c = True
d = "data"
type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [8]:
# 데이터 타입에 함수 : 문자열
e = d.upper()

In [9]:
d, e

('data', 'DATA')

In [10]:
f = " Fast campus "

In [11]:
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [12]:
# lower : 소문자로 변환
f.lower()

' fast campus '

In [13]:
# strip : 공백 제거
f.strip()

'Fast campus'

In [14]:
# replace : 특정 문자열 치환
f.replace(" ", "") # 공백을 없애고 싶을 때
f.replace("Fast", "Slow") # Fast를 Slow로 바꾸고 싶을 때

' Slow campus '

In [15]:
# 오프셋 인덱스 : 마스크, 마스킹 : []
# 문자열은 순서가 있는 문자들의 집합

In [16]:
g = "abcdefg"

In [17]:
g[2], g[-2], g[2:5], g[:2], g[3:], g[-2:], g[:], g[::2], g[::-1]

('c', 'f', 'cde', 'ab', 'defg', 'fg', 'abcdefg', 'aceg', 'gfedcba')

#### 퀴즈
- numbers = "123456789" 에서 "97531"로 출력되게 하세요. (홀수가 역순으로 출력)

In [18]:
numbers = "123456789" 
numbers[::-1][::2]
numbers[::-2]
numbers[::2][::-1] # 연결 안 하고 result = numbers[::2], result[::-1] 해줘도 됨

'97531'

### 컬렉션 데이터 타입 : list, tuple, dict
- list [] : 순서 o, 수정 o
- tuple () : 순서 o, 수정 x
- dict {} : 순서 x, 수정 o,  key:value로 구성되어 있는 데이터 타입

#### List []

In [19]:
ls = [1, 2, 3, "four", [5, 6], True, 1.2]
type(ls), ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

In [20]:
# offset index 사용 가능(순서가 있기 때문)
ls[3], ls[1:3], ls[::-1]

('four', [2, 3], [1.2, True, [5, 6], 'four', 3, 2, 1])

In [21]:
# List 함수
ls = [1, 5, 2, 4]

In [22]:
# append : 가장 뒤에 값을 추가
ls. append(3)
ls

[1, 5, 2, 4, 3]

In [23]:
# sort : 오름차순으로 정렬
ls.sort()
ls[::-1] # 내림차순

[5, 4, 3, 2, 1]

In [24]:
# pop : 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제
# ctrl + enter : 현재 셀을 계속 실행
num = ls.pop()
num, ls

(5, [1, 2, 3, 4])

In [25]:
# 리스트의 복사
ls1 = [1, 2, 3]

# 주소값 복사(얕은 복사) : 같은 공간의 메모리를 참조
ls2 = ls1
ls1[2] = 5
ls1, ls2

([1, 2, 5], [1, 2, 5])

In [26]:
# 다른 공간의 메모리를 참조
ls3 = ls1.copy()
ls1[2] = 10
ls3, ls1

([1, 2, 5], [1, 2, 10])

#### Tuple ()
- 리스트와 같지만 수정이 불가능한 데이터 타입
- ()로 표현, 생략 가능
- 튜플은 리스트보다 같은 데이터를 가졌을 때 공간을 적게 사용

In [27]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6)
type(tp1), type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [28]:
# offset index 사용 가능
tp1[1], tp1[::-1]

(2, (3, 2, 1))

##### 리스트와 튜플의 저장공간 차이 비교

In [29]:
import sys
ls = [1, 2, 3]
tp = (1, 2, 3)

print(sys.getsizeof(ls), sys.getsizeof(tp))

88 72

#### Dict {}
- 순서가 없고 {키:값} 으로 구성되어 있는 데이터 타입
- 키는 정수, 문자열 데이터 타입만 사용 가능

In [30]:
dic = {
    1 : "one",
    "two" : 2,
    "three" : [1, 2, 3],
}
type(dic), dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [31]:
dic[1], dic["three"]

('one', [1, 2, 3])

In [32]:
dic["two"] = 123
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

##### list와 dict의 차이

In [33]:
# 도시 : seoul, busan, daegu
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [34]:
# 리스트로 표현
city = ["seoul", "busan", "daegu"]
population = [9700000, 3400000, 2400000]

In [35]:
# 딕셔너리로 표현 - 변수 하나로 표현 가능
data = {
    "seoul" : 9700000,
    "busan" : 3400000,
    "daegu" : 2400000,
}

In [36]:
sum(population)

15500000

In [37]:
sum(data.values()) #sum(data)하면 error뜸

15500000

### 5. 형변환
- 데이터 타입을 변환하는 방법
- int, float, bool, str, list, tuple, dict

In [38]:
a = 1
b = "2"
a + int(b)

3

In [39]:
data.values()

dict_values([9700000, 3400000, 2400000])

In [40]:
list(data.values())

[9700000, 3400000, 2400000]

In [41]:
city, population

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

In [42]:
# zip : 같은 인덱스 데이터끼리 묶어주는 함수 - list 두개를 묶어서 dict로 만들 수 있음!
dict(zip(city, population))

{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

In [43]:
# dict를 list 두 개로 다시 분리하는 방법
result = dict(zip(city, population))
data1 = result.keys()
data2 = result.values()
data1, data2

(dict_keys(['seoul', 'busan', 'daegu']),
 dict_values([9700000, 3400000, 2400000]))

### 6. 연산자
- 산술연산자 : +, -, *, /, //, %, **
- 할당연산자 : 변수에 누적시켜서 연산 : +=, //=, **=, ...
- 비교연산자 : >, <, ==, !=, <=, >= : 결과로 True, False
- 논리연산자 : True, False를 연산 : or, and, not
- 멤버연산자 : 특정 데이터가 있는지 확인할 때 사용 : not in, in

In [1]:
#산술연산
(1 + 4) / 2 ** 2

1.25

In [2]:
#할당연산
a = 10
a += 10
a

20

In [4]:
#비교연산
a, b = 30, 2
print(a, b)
a < b, a == b, a != b

30 2

(False, False, True)

In [5]:
#논리연산
True and False, True or False, not True or False

(False, True, False)

In [6]:
#멤버연산
ls = ["jin", "andy", "john"]

In [8]:
"andy" in ls, "anchel" in ls, "john" not in ls

(True, False, False)

In [10]:
#랜덤함수
import random
random.randint(1, 10)

8

In [11]:
#입력함수
data = input("insert string : ")
data

insert string : 안녕하세요

'안녕하세요'

#### 해결의 책 : 질문을 하면 질문에 대한 답변을 해주는 책

In [ ]:
# 솔루션을 리스트로 작성
# 질문 입력 받음
# 솔루션의 개수에 맞게 랜덤한 index 정수 값을 생성
# index에 해당하는 솔루션 리스트의 데이터를 출력

In [17]:
# 솔루션을 리스트로 작성
solutions = [
    "무엇을 하든 잘 안 될 것이다.",
    "생각지도 않게 좋은 일이 생길 것이다.",
    "무엇을 상상하든 그 이상이다.",
]

# 질문 입력 받음
input("질문을 입력하세요. : ")

# 솔루션의 개수에 맞게 랜덤한 index 정수 값을 생성
idx = random.randint(0, len(solutions) - 1)

# index에 해당하는 솔루션 리스트의 데이터를 출력
solutions[idx]

질문을 입력하세요. : 저는 오늘 지옥철은 안 탈 수 있을까요?

'무엇을 하든 잘 안 될 것이다.'

In [16]:
len(solutions)

3